 <div id="cookie-banner">
  <div id="cookie-banner__wrapper">
    <p>
      Stránky Justice.cz používají cookies pro zrychlení vaší práce. 
      <a title="Stranka o cookies, otevre se v novem okne" href="cookies" target="_blank"> Dozvědět se o cookies více
        <span class="visually-hidden">otevře se v novém okn+</span>
      </a>
    </p>    

    <!--
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span class="icon-close">&times;</span>
      <span class="visually-hidden">Schovat toto oznameni</span>
    </button>  -->
  </div>
</div>

<header class="header navbar-expand-lg navbar-light">
  <div class="header__container">
    <div class="header__brand">
      <a href="/">
        <span class="justice-logo">Justice.cz</span>
        <span class="header__title">Cekatele</span>
      </a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navigation" aria-controls="header-navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="header-navigation" aria-label="Top Level Navigation" aria-hidden="true">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">O aplikaci <span class="sr-only">vybrano</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Vyhlasene terminy</a>
        <a class="nav-item nav-link active" href="#">Přihlásit se</a>
      </div>
    </nav>
  </div>
</header>