<div id="wrapper">
  <nav class="breadcrumbs" aria-label="breadcrumbs" role="Navigation">
    <ol>
      <li class="breadcrumbs__item">
        <a href="/">Domů</a>
      </li>
    </ol>
  </nav>

  <main id="content" class="" role="main" lang="cs">
    <div class="row">
      <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <div class="box-highlight">
          <h1 class="heading-xl">Registrace dokončena</h1>  
          <p style="font-size: 36px; margin-top: 2em;">
            Vaše přihlašovací jméno je
            <br>
            <strong>sdkjfjjdk.jskdkksk@seese.cz</strong>
          </p>
        </div>
        
        <p>
          Poslali jsme vám konfirmační (y u konfirmační jarko :( ) e-mail.
        </p>

        <h2 class="heading-lg">Co nastane dál</h2>

        <p>
          Pro aktivaci vašeho účtu klikněte na odkaz přiložený v konfirmačním e-mailu.
        </p>

        <P>
          Následně se můžete přihlásit a začít vyplňovat žádost. <a href="#">Co budu potřebovat k vyplnění žádosti</a>.
        </P>
        <br>
        <p>
          V případě, že jste konfirmační e-mail neobrdželi, můžeme ho vám <a href="#">poslat znovu</a>.
        </p>

        <br>
        <br>
        <p>
          <a href="#">Pomožte nám zlepšit tuto stránku</a> (zabere vám to 30 sekund). tady to nebude ale bud celou dobu v app nebo po odeslani prihlasky
        </p>
        
      </div>
    </div>
  </main>
</div>