  <div id="wrapper">
    <nav class="breadcrumbs" aria-label="breadcrumbs" role="Navigation">
    <ol>
      <li class="breadcrumbs__item">
        <a href="/">Domů</a>
      </li>      
    </ol>
  </nav>

  <main id="content" class="" role="main" lang="cs">
    <div class="row">
      <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <div class="page-title">
          <h1 class="heading-xl">Cookies</h1>          
        </div>

        <br>
        Stranky Justice.cz ukladaji na vas pocitac male soubory, tzv. cookies.
        <br>
        Tyto male soubory se pak pouzivaji k:
        <ul>
          <li>
            zapamatovani si vas po prvnim prihlaseni
          </li>
          <li>
            k tomu, aby se notifikace ktere jste jednou zavreli uz znovu nezobrzovat
          </li>
          <li>
            mereni toho, jak stranku pouzivate abysme ji mohli dale upravovat a vylepsovat
          </li>
          <li>
            dalsi random
          </li>
        </ul>
        <br>
        <br>
        Hledal sem stranku kde je o tom neco vic a jak to smazat a nic
        <br>
        <br>
        Dat sem odkazy jak to smazat v ff, chrome ie?

        <br>
        <br>
        <h2>
          tady muze bejt co delaj ruzny sessiony
        </h2>

        <br>
        <br>
        <h2>
          cookies stejne jako gdpr muze mit pro kazdou app svoji stranku
        </h2>
        <div class="meta-data">
          <p class="last-updated">Naposledy aktualizovano: 10. kvetna 2018</p>
        </div>
      </div>
  </main>
</div>