<div id="wrapper">
  <nav class="breadcrumbs" aria-label="breadcrumbs" role="Navigation">
    <ol>
      <li class="breadcrumbs__item">
        <a href="/">Domů</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="terms">Podmínky užití</a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active">
        <a aria-current="page" href="#content">Prohlášení o ochraně osobních údajů</a>
      </li>
    </ol>
  </nav>

  <main id="content" class="" role="main" lang="cs">
    <div class="row">
      <div class="col-10 col-md-8">
        <div class="page-title">
          <h1 class="heading-xl">Prohlášení o ochraně osobních údajů</h1>      
        </div>

        <aside class="inpage-nav-container" id="contents">
          <nav class="inpage-nav-links" role="navigation" aria-label="Stranky v tomto pruvodci">
            <h2 class="inpage-nav-links__heading">Obsah stránky</h2>
            <ul class="link-list">
              <li>
                <a href="#sekce1">Jaké údaje potřebujeme</a>                
              </li>
              <li>
                <a href="#sekce2">Proč je potřebujeme</a>                
              </li>
              <li>
                <a href="#sekce3">Co s vašemi údaji děláme</a>                
              </li>
              <li>
                <a href="#sekce4">Jak dlouho vaše údaje uchováváme</a>                
              </li>
              <li>
                <a href="#sekce5">Ochrana soukromí dětí</a>             
              </li>
              <li>
                <a href="#sekce6">Zabezpečení, ukládání, zpracování vašich údajů</a>             
              </li>
              <li>
                <a href="#sekce7">Vaše práva</a>                
              </li>
              <li>
                <a href="#sekce8">Kontaktuje nás nebo vzneste stížnost</a>                
              </li>
            </ul>
          </nav>          
        </aside>
      </div>

      <div class="col-2 col-md-4 d-flex justify-content-end">
        <aside class="page-tools">
          <h2 class="visually-hidden">Tisknout nebo poslat stránku Ochrana osobních údajů</h2>
          <ul class="page-tools__share share">
            <li class="share__item">
              <a href="mailto:jmeno@priklad.cz?body=http://172.31.225.68:3000/protection" title="Poslat tuto stranku e-mailem">
                <span class="visually-hidden">Poslat tuto stránku e-mailem</span>
                <i class="icon-share fa fa-envelope-o"></i>
              </a>
            </li>

            <li class="share__item">
              <button class="btn-print" title="Vytisknout tuto stranku" onclick="window.print(); return false;" type="button">
                <span class="visually-hidden">Vytisknout tuto stránku</span>
                <i class="icon-share fa fa-print"></i>
              </button>              
            </li>
          </ul>
        </aside>

      </div>  
    </div> 

    <div class="row">  
      <div class="col-12 col-md-8">
        <h2 class="heading-lg" id="sekce1">Jaké údaje potřebujeme</h2> 
        <div class="">
          <p>Osobní údaje, která sbíráme jsou:</p>          
          <ul>
            <li>
              e-mailová adresa, pokud kontaktujete Ministerstvo
            </li>
            <li>
              vaše IP adresa a jaký webový prohlížeč používáte
            </li>
            <li>
              informace, jak používate naše stránky. K tomu využíváme <a href="cookies">cookies</a> a značkování stránek.
            </li>
          </ul>
        </div>         

        <h2 class="heading-lg" id="sekce2">Proč je potřebujeme</h2> 
        <div class="">
          <p>
            Ke sběru informací o tom, jak využíváte stránky Ministerstva používáme nástroj Google Analytics.
          </p>

          <p>
            Google Analytics uchovává informace o:
            <ul>
              <li>
                stránkách Ministerstva, které navštívíte
              </li>
              <li>
                odkud jste se na stránky Ministerstva proklikli
              </li>
              <li>
                jakou dobu jste na stránkách Ministerstva strávili
              </li>
              <li>
                na co jste na stránce klikli
              </li>
            </ul>
          </p>

          <p>
            Nesbíráme ani neuchováváme vaše osobní údaje (např. vaše jméno nebo vaší adresu). Nejsme tedy schopni zjistit, kdo jste.
          </p>
        </div>   

        <h2 class="heading-lg" id="sekce3">Co s vašemi údaji děláme</h2> 
        <div class="">
          <p>
            Údaje, které o vás shromažďujeme mohou být sdíleny s ostatními institucemi resortu, ministerstvy, úřady a jinými veřejnoprávní korporace.            
          </p>

          <p>
            Nebudeme: 
            <ul>
              <li>
                prodávat nebo půjčovat vaše údaje třetím stranám
              </li>
              <li>
                sdílet vaše data se třetími stranami pro marketingové využítí
              </li>
            </ul>
          </p>
        </div>   

        <h2 class="heading-lg" id="sekce4">Jak dlouho vaše údaje uchováváme</h2> 
        <div class="">
          <p>
            Vaše údaje budeme uchovávat pouze po dobu:
            <ul>
              <li>
                nezbytně nutnou
              </li>
              <li>
                zákonem umožněnou
              </li>
            </ul>
          </p>
        </div>  

        <h2 class="heading-lg" id="sekce5">Zabezpečení, ukládání, zpracování vašich údajů</h2> 
        <div class="">
          <p>
            Naše systémy jsou navrženy tak, aby vaše údaje byly chráněny, co možná nejdříve, a to jak při zpracovávání, tak i při samotném uchovávání.
          </p>
        </div> 

        <h2 class="heading-lg" id="sekce6">Ochrana soukromí dětí</h2> 
        <div class="">
          <p>
            Naše služby nejsou navrhovány, či mířeny na děti mladší 13 let. Údaje o mladších 13 let záměrně nesbíráme a ani neuchováváme.
          </p>
        </div>  

        <h2 class="heading-lg" id="sekce7">Vaše práva</h2> 
        <div class="">
          <p>
            Máte právo požádat o:
            <ul>
              <li>
                informace o tom, jak jsou vaše údaje zpracovávány
              </li>
              <li>
                kopii vašich údajů
              </li>
              <li>
                opravu vašich údajů, pokud ty které o vás máme nejsou správné
              </li>
            </ul>
          </p>

          <p>
            Zároveň můžete:
            <ul>
              <li>
                vznést stížnost, jak jsou vaše data zpracovávána
              </li>
              <li>
                požádat o vymazání vašich dat
              </li>
            </ul>
          </p>

          <p>
            Pakliže chcete podat jakoukoliv z těch žádostí kontaktujte přímo Ministerstvo spravedlnosti.
          </p>
        </div>  

        <h2 class="heading-lg" id="sekce8">Kontaktuje nás nebo vzneste stížnost</h2> 
        <div class="">
          <div class="contact">
            <p>
              <a href="mailto:posta@msp.justice.cz" data-click-events="" data-click-action="Kliknuto na link s e-mailovou adresou">posta@msp.justice.cz</a>
              <br>
              Telefon: 221 997 111
              <br>
              ID datové schránky: kq4aawz
              <br>
              Vyšehradská 16, 128 12 Praha 2
            </p>            
          </div>

          <p>
            Můžete zároveň kontaktovat a podat stížnost <a href="https://www.uoou.cz" title="Stránky Úřadu pro ochranu osobních údajů">Úřadu pro ochranu osobních údajů</a>.
          </p>

          <div class="contact">
            <p>
              <a href="mailto:posta@uoou.cz" data-click-events="" data-click-action="Kliknuto na link s e-mailovou adresou">posta@uoou.cz</a>
              <br>
              Telefon: 234 665 111 
              <br>
              Fax: 234 665 444
              <br>
              ID datové schránky: qkbaa2n
              <br>
              Pplk. Sochora 27, 1700 00 Praha 7
            </p>            
          </div>
        </div>

        <div class="meta-data">
          <p class="last-updated">Naposledy aktualizováno: 21. května 2018</p>
        </div>         
      </div> 
    </div>  
  </main>
</div>

<div class="sticky-element-container" style="opacity: 0;">
  <div id="backtotop" class="sticky-element sticky-element--hidden sticky-element--enabled">
    <a class="back-to-top" href="#contents">
      <svg class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z">          
        </path>
      </svg>
      Obsah stránky
    </a>
  </div>
</div>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
        document.getElementById("backtotop").classList.remove('sticky-element--hidden');
    } else {
        document.getElementById("backtotop").classList.add('sticky-element--hidden');
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>