<div id="wrapper">
  <nav class="breadcrumbs" aria-label="breadcrumbs" role="Navigation">
    <ol>
      <li class="breadcrumbs__item">
        <a href="/">Domů</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="terms">Podmínky užití</a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active">
        <a aria-current="page" href="#content">Jak chráníme vaše osobní údaje</a>
      </li>
    </ol>
  </nav>

  <main id="content" class="" role="main" lang="cs">
    <div class="row">
      <div class="col-10 col-md-8">
        <div class="page-title">
          <h1 class="heading-xl">Ochrana osobních údajů</h1>
          <h3 class="heading-md subtitle">O tom jaké údaje o vás shromažďujeme a proč</h3>       
        </div>

        <aside class="inpage-nav-container">
          <nav class="inpage-nav-links" role="navigation" aria-label="Stranky v tomto pruvodci">
            <h2 class="inpage-nav-links__heading">Obsah stránky</h2>
            <ul class="link-list">
              <li>
                <a href="#sekce1">Registrace, profil, přihláška</a>                
              </li>
              <li>
                <a href="#sekce2">Správce a pověřenec</a>                
              </li>
              <li>
                <a href="#sekce3">Doba uchovávání vašich údajů</a>                
              </li>
              <li>
                <a href="#sekce4">Komu mohou být vaše údaje předány</a>                
              </li>
              <li>
                <a href="#sekce5">Vaše práva a povinnosti</a>                
              </li>
            </ul>
          </nav>          
        </aside>
      </div>

      <div class="col-2 col-md-4 d-flex justify-content-end">
        <aside class="page-tools">
          <h2 class="visually-hidden">Tisknout nebo poslat stránku Ochrana osobních údajů</h2>
          <ul class="page-tools__share share">
            <li class="share__item">
              <a href="mailto:jmeno@priklad.cz?body=http://172.31.225.68:3000/protection" title="Poslat tuto stranku e-mailem">
                <span class="visually-hidden">Poslat tuto stránku e-mailem</span>
                <i class="icon-share fa fa-envelope-o"></i>
              </a>
            </li>

            <li class="share__item">
              <button class="btn-print" title="Vytisknout tuto stranku" onclick="window.print(); return false;" type="button">
                <span class="visually-hidden">Vytisknout tuto stranku</span>
                <i class="icon-share fa fa-print"></i>
              </button>              
            </li>
          </ul>
        </aside>
      </div>  
    </div> 

    <div class="row">  
      <div class="col-12 col-md-8">
        <h3 class="heading-md" id="sekce1">Registrace, profil</h3> 
        <div class="">
          <p>Při registraci do systému se zeptáme na několik prvotních údajů, které nám pak pomohou při vytváření vaší přihlášky.</p>          
          <h5 class="heading-xs">Zeptáme se na následující</h5>
          <ul>
            <li>
              Jméno a příjmení
            </li>
            <li>
              Korespondenční e-mail
            </li>
            <li>
              Prohlášení o státním občanství, prohlášení o bezúhonnosti a prohlášení o svéprávnosti
            </li>
          </ul>
          <h5 class="heading-xs">
            Proč tyto údaje vyžadujeme
          </h5>
          <p>
            Vaše jméno, příjmení a váš korespondenční e-mail je třeba k tomu, abyste mohli vytvořit účet. Vaše e-mailová adresa bude zároveň použita k tomu, aby vás mohl systém informovat, např. pozvánky k testům, potvrzení správnosti žádosti.
          </p>

          <h4 class="heading-sm">
            Vyplňování přihlášky
          </h4>

          <h5 class="heading-xs">Zeptáme se na následující</h5>
          <ul>
            <li>
              Datum narození
            </li>
            <li>
              Kontaktní telefon
            </li>
            <li>
              Kopie vysokoškolského diplomu, případně údaje o získaném akademickém titulu a o dosažených vědeckých nebo vědecko-pedagogických hodností
            </li>
            <li>
              Rok promoce
            </li>
            
          </ul>
          <h5 class="heading-xs">
            Proč tyto údaje vyžadujeme
          </h5>
          <p>
            Údaje jsou podstatné k úplnému vyplnění přihlášky. Tyto údaje následně ověřujeme, abychom rozhodli, zda se můžete stát justičním čekatelem.
          </p>
          <p>
            Ve chvíli, kdy vaši přihlášku schválíme přijde vám potvrzení o správnosti žádosti na váš korespondenční e-mail.
          </p>
        </div>         

        <h3 class="heading-md" id="sekce2">Správce a pověřenec</h3> 
        <div class="">
          <p>Správcem je Ministerstvo spravedlnosti. Pověřenec pro ochranu osobních údajů je pak Mgr. Jan Panoš.</p>

          <h5 class="heading-xs">Kontakt na Ministerstvo</h5>
          <div class="contact">
            <p>
              <a href="mailto:posta@msp.justice.cz" data-click-events="" data-click-action="Kliknuto na link s e-mailovou adresou">posta@msp.justice.cz</a>
              <br>
              Telefon: 221 997 111
              <br>
              ID datové schránky: kq4aawz
              <br>
              Vyšehradská 16, 128 12 Praha 2
            </p>
          </div>

          <h5 class="heading-xs">Kontakt na pověřence</h5>
          <div class="contact">
            <p>
              <a href="mailto:poverenec@msp.justice.cz" data-click-events="" data-click-action="Kliknuto na link s e-mailovou adresou">poverenec@msp.justice.cz. </a>              
              <br>
              Vyšehradská 16, 128 12 Praha 2
            </p>
          </div>
        </div>   

        <h3 class="heading-md" id="sekce3">Doba uchovávání vašich údajů</h3> 
        <div class="">
          <p>
            Od chvíle, kdy již nechcete být evidován jako zájemce, budou vaše údaje nadále uchovávány po dobu 3 let.
          </p>

          <p>
            V případě uchazečů, kteří nebyli v rámci vstupního testu úspěšní, se osobní údaje uchovávají po dobu 3 let od data prvního neúspěšně vykonaného testu. PREPSAT            
          </p>
          
          <p>
            Osobní údaje uchazečů, kteří uspěli, budou převedeny do osobního spisu vedeného příslušným Krajským soudem a Ministerstvem spravedlnosti.    PREPSAT
          </p>
          
          <p>
            O vymazání vašeho profilu ze systému můžete požádát e-mailem, a to na adresu Ministerstva uvedenou výše.
          </p>
        </div>   

        <h3 class="heading-md" id="sekce4">Komu mohou být vaše údaje předány</h3> 
        <div class="">
          <p>
            K vaším osobním údajům má přístup:
            <ul>
              <li>Justiční akademie</li>
              <li>krajské soudy</li>
            </ul>>

          </p>
          <p>
            Vaše osobní údaje nejsou předávány státům mimo EU nebo jiným mezinárodním organizacím.
          </p>
        </div>  

        <h3 class="heading-md" id="sekce5">Vaše práva a povinnosti</h3> 
        <div class="">
          <p>Ministerstvo může uplatnit následující práva:</p>
          <ul>
            <li>
              na přístup k vašim údajům
            </li>
            
            <li>
              na opravu či doplnění
            </li>

            <li>
              na omezení zpracování
            </li>

            <li>
              podat stížnost u dozorového úřadu
            </li>
          </ul>
        </div> 

        <div class="meta-data">
          <p class="last-updated">Naposledy aktualizováno: 21. května 2018</p>
        </div>         
      </div> 
    </div>  
  </main>
</div>

<div id="backtotop" class="sticky-element sticky-element--hidden sticky-element--enabled">
  <a class="back-to-top" href="#contents">
    <svg class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z">          
      </path>
    </svg>
    Obsah stránky
  </a>
</div>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
        document.getElementById("backtotop").classList.remove('sticky-element--hidden');
    } else {
        document.getElementById("backtotop").classList.add('sticky-element--hidden');
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>