<div id="wrapper">
  <nav class="breadcrumbs" aria-label="breadcrumbs" role="Navigation">
    <ol>
      <li class="breadcrumbs__item">
        <a href="/">Domů</a>
      </li>
    </ol>
  </nav>

  <main id="content" class="" role="main" lang="cs">
    <div class="row">
      <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <h1 class="heading-xl">Podmínky užití</h1>
        
        <br>
        <p>
          Podívat se na 
          <a href="general" title="Klikněte zde pro zobrazení Prohlášení o ochraně osobních údajů">Prohlášení o ochraně osobních údajů</a>.
        </p> 

        <p>
          Podivat se  
          <a href="protection" title="Klikněte zde pro zobrazení o tom jaké údaje o vás shromažďujeme">Jak chráníme vaše osobní údaje</a>.
        </p>    

        <h2 class="heading-lg">Informace k registraci</h2>
                 
        <p>
          Podle zákona o
          <a title="Zákon č. 101/2000 Sb. o ochraně osobních údajů, otevře se v novém okně" href="https://www.zakonyprolidi.cz/cs/2000-101" target="_blank">Ochraně osobních údajů
            <span class="visually-hidden">otevře se v novém okně</span>
          </a>
          souhlasíte, že následující subjekty
          <ul>
            <li>
              Ministerstvo spravedlnosti
            </li>
            <li>
              Justiční akademie
            </li>
          </ul>
        </p>

        <p>
        mohou vaše osobní údaje shromažďovat, zpracovávat a uchovávat. 
        </p>
        
        <p>
          Vaše údaje pak uchováváme pouze po dobu nutnou pro průběh výběrového řízení na místa justičních čekatelů a k případnému vzniku pracovního poměru.
        </p>  
         
        <p>
          Po skončení výběrového řízení můžete poslat písemnou žádost a vyžádat si kopii všech vašich údajů. Psát můžete na kontakt níže.
        </p>

        <div class="contact contact--highlight">
            <p>
              <a href="mailto:posta@msp.justice.cz" data-click-events="" data-click-action="Kliknuto na link s e-mailovou adresou">posta@msp.justice.cz</a>
              <br>
              Telefon: 221 997 111
              <br>
              ID datové schránky: kq4aawz
              <br>
              Vyšehradská 16, 128 12 Praha 2
            </p>
        </div>
        
        <br>
        <p>
          Ministerstvo je povinno vám tyto údaje vydat, pokud o ně požádate.                 
        </p>

        <div class="meta-data">
          <p class="last-updated">Naposledy aktualizováno: 21. května 2018</p>
        </div>
      </div>
    </div>
  </main>
</div>